.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.image {
	max-width: 100%;
	max-height: 100%;
}

img{
	width: 100%;
	object-fit: contain;
}


.category {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.submit_question {
	background-color: #282c34;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

input[type=text] {
	width: 40%;
	padding: 9px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit] {
	/*background-color: #606069ef;*/
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 32px;
	text-decoration: none;
	margin: 4px 2px;
	margin-bottom: 40px;
	cursor: pointer;
}

.container {
  margin: 20px;
}

.select-label {
  margin-right: 20px;
  /*font-weight: bold;*/
}

.select-box {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}


.subcategories-container {
	text-align: center;
	margin-top: 20px;
}
  
.subcategories-links {
	display: flex;
	justify-content: center;
}
  
.subcategory-link {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	margin: 0 10px;
	padding: 10px 20px;
	border: 2px solid #fff;
	border-radius: 5px;
	transition: all 0.3s ease;
}
  
.subcategory-link:hover {
	background-color: #fff;
	color: #333;
}
