body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}


.topnav {
	/*background-color: #333;*/
	background-color: rgb(24, 23, 23);
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 16px 40px;
	text-decoration: none;
	font-size: 26px;
}

/* Move the "Log out" link to the far right */
.topnav .logout {
    float: right;
}

.bottomnav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(24, 23, 23);
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}



#answers {
	width: 100%;
}

.answer_btn {
	width: 100%;
	height: 100%;
	background-color:rgb(72, 77, 77);
	color: white;
	margin-top: 0px;
	font-size: 24px;
	border: 1px solid;
	cursor: pointer;
	/*box-shadow: 2px 2px 1px #888888;*/
}

.next_question {
	background-color:rgb(72, 77, 77);
	color: white;
	cursor: pointer;
	width: 40%;
	font-size: 22px;
	border: 1px solid;
}

.next_question[disabled] {
	cursor: not-allowed;
}