.user-statistics {
    background-color: #282c34;
}

.statistics-container {
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
}

.statistics-container h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #ffffff;
}

.statistics-table {
    width: 100%;
    border-collapse: collapse;
}

.statistics-table th, .statistics-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    color: #ffffff;
}
