input[type=username] {
	width: 100%;
	padding: 9px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


input[type=email] {
	width: 100%;
	padding: 9px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


input[type=password] {
	width: 100%;
	padding: 9px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


input[type=repeat-psw] {
	width: 100%;
	padding: 9px 20px;
	margin: 2px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


.signup_button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 18px;
	margin: 8px 0;
	margin-top: 40px;
	border: none;
	cursor: pointer;
	width: 50%;
}


.signup {
	margin-bottom: 20px;
}